/* sidebar table of contents */
header, .section, footer, nav {
    padding-left: 350px; /* size of .sidenav */
}
@media only screen and (max-width : 992px) {
    header, .section, footer, nav {
        padding-left: 0;
    }
}

body {
    background:white;
}

.language-selector a img {
    height:40px;
    vertical-align:middle;
}

#SPM-chapters-level2 {
    position: relative;
    z-index:2;
}

@media only screen and (max-width : 992px) {
    .container {
        width: 98%;
    }
}



h1, h5, .brand-logo, .card-title {
    font-family:Inter,sans-serif;
}
.brand-logo {
    white-space:nowrap;
}

/* slide out left menu table of contents */
#slide-out li a {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
#slide-out a.collapsible-header {
    padding-left:5px;
}
#slide-out i.material-icons {
    margin-right:5px;
    width:12px;
}
.sidenav {
    width:350px;
}
#slide-out .collapsible-body a {
    border-left:4px solid #283593;
    padding-left:10px;
    position: relative;
}
#slide-out .toc-ref {
    font-size:9px;
    height:10px;
    line-height:10px;
    position:absolute;
    top:5px;
    left:10px;
    color:#bf360c;
}

#side-panel-pdf {
    position:fixed;
    top:64px;
    bottom:0;
    right:0;
    width:50%;
    z-index:200;
    background-color:white;
    visibility:hidden;
    box-shadow: 0 0 50px 30px rgba(0,0,0,0.8);
}
#side-panel-pdf .close-panel {
    position: absolute;
    left:-80px;
    width:80px;
    height:80px;
    top:100px;
    background:white;
    z-index:202;
    text-align:center;
    cursor:pointer;
}
#side-panel-pdf iframe {
    z-index:203;
}
.close-panel i.material-icons {
    font-size:40px;
    line-height:80px;
}
.card-content p {
    font-family: Inter, sans-serif;
}
.href-card {
    text-decoration:none;
}
.card.hoverable {
    transition: all .2s ease-in-out;
}
#SPM-chapters-level1 .card.hoverable:hover{
    transform:scale(1.05);
    background-color:#455a64 !important;
}
#SPM-follow-line {
    background-color:#1a237e;
    width:10px;
    display:block;
    position:absolute;
    left:40px;
    box-shadow: 0 0 2px rgba(0,0,0,0.7);
    z-index:0;
}
.chaplev2 p {
    font-family:Inter,sans-serif;
    font-size:16px;
    font-weight:bold;
    margin-top:0;
}
.chaplev2 {
    margin-bottom:0;
    background:#e3f2fd;
    cursor:pointer;
}
.chaplev2:hover {
    background:#d2ecff;
}
.chaplev2 .chap-ref {
    font-size:40px;
    float:left;
    margin-right:10px;
    color:#1a237e;
}
.chapter-ref {
    opacity:0.3;
    position:absolute;
    right:5px;
    font-size:50px;
    font-family:inter;
    color:white;
}

/* chap lev3 */
.chaplev3-holder {
    margin:0; padding:0;
    border-left:4px solid #5c6bc0;
    border-bottom:4px solid #5c6bc0;
    margin-left:60px;
    margin-bottom:30px;
    padding-top:20px;
    padding-bottom:20px;
    background:#e3f2fd;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display:none;
}
.chaplev3-holder .chaplev3:first-child {
    margin-top: 0;
}
.chaplev3 {
    margin-left:15px;
    margin-right:15px;
    padding:14px 24px;
}
.chaplev3 p {
    font-family:Inter, sans-serif;
    margin-bottom:5px;
}
.chaplev3 .chap-ref {
    font-size:30px;
    float:left;
    margin-right:10px;
    color:#1a237e;
}

/* référence vers une source */
.src1 {
    background-color:rgba(0,0,0,0.1);
    border-radius:3px;
    padding:1px 5px;
    display:inline-block;
    margin: 2px;
    font-size:12px;
}
.src1:hover {
    background-color:rgba(0,0,0,0.2);
}
#modal-box .src1, #main-panel-doc .src1 {
    margin:0;
    background:none;
    font-size:0.8em;
    display:inline;
}

/* levels of confidence */
.high-confidence, .medium-confidence, .very-low-confidence, .low-confidence, .very-high-confidence {
    border-radius:50%;
    line-height:14px;
    text-align:center;
    display:inline-block;
    width: 14px;
    height:14px;
    vertical-align:middle;
    color:white;
}
.very-high-confidence {
    background:#64dd17;
}
.high-confidence {
    background:#2e7d32;
}
.medium-confidence {
    background:#afb42b;
}
.low-confidence {
    background:#e65100;
}
.very-low-confidence {
    background:#b71c1c;
}
/* text version of confidence levels */
.high-confidence-text, .medium-confidence-text, .very-low-confidence-text, .low-confidence-text, .very-high-confidence-text {
    font-weight:bold;
}
.very-high-confidence-text {
    color:#2e7d32;
}
.high-confidence-text {
    color:#64dd17;
}
.medium-confidence-text {
    color:#afb42b;
}
.low-confidence-text {
    color:#e65100;
}
.very-low-confidence-text {
    color:#b71c1c;
}

/* certainty levels */
.virtually-certain-text, .very-likely-text, .likely-text,
.about-as-likely-as-not-text, .unlikely-text, .very-unlikely-text,
.exceptionally-unlikely-text, .extremely-likely-text,
.more-likely-than-not-text, .extremely-unlikely-text {
    font-weight:bold;
}
.virtually-certain-text, .extremely-likely-text {
    color:#2e7d32;
}
.very-likely-text {
    color:#64dd17;
}
.likely-text, .more-likely-than-not-text {
    color:#afb42b;
}
.unlikely-text {
    color:#e65100;
}
.very-unlikely-text, .extremely-unlikely-text, .exceptionally-unlikely-text {
    color:#b71c1c;
}

/* footnotes in text */
.footnote-ref {
    color: #0091ea;
    cursor:pointer;
}

/* figures in text */
.figure-level2 img {
    height:150px;
}
.figure-level2 {
    padding:0 5px;
}
.figure-level2-holder {
    display: flex;
    align-items: center;
}

/* changes to modal size */
#modal-figure.modal {
    width: 70%;
}
.modal p{
    margin:12px 0;
    font-family:Inter,sans-serif;
    font-size:16px;
    line-height:20px;
}
.modal.modal-fixed-footer {
    height: 90%;
    max-height: 90%;
}
.modal {
    width: 70%;
    max-width:1400px;
}
.modal h4 {
    position: sticky;
    top: 0;
    background: white;
    box-shadow: 0 0 5px 10px white;
}

@media only screen and (max-width: 992px)
{
.modal {
max-width:95%;
width: 95%;
}
.modal h4 {
    position:relative;
    background:none;
    box-shadow:none;
}
}


.tooltip-ref-chapter {
    font-family:Inter, sans-serif;
    font-weight:bold;
}
.tooltip-ref-subchapters li {
    font-size:0.9em;
    padding-left:10px;
}

#modal-faq {
    font-family:Inter,sans-serif;
}
.faq-intro {
    font-size:18px;
    line-height:24px;
    color:#1a237e;
}
.faq-card .card-content {
    padding:18px;
}
.faq-card .chapter-ref {
    font-size:18px;
}
.faq-card .chapter-read {
    color: #1b5e20;
    cursor: pointer;
    position: absolute;
    left:3px;
    top:0;
    display:none;
}
.chapter-read {
    cursor:pointer;
}

/* full table of contents */
.toc-holder {
    font-family:Inter,sans-serif;
}
.toc-holder a {
    color: inherit;
}
.toc-holder a:hover {
    text-decoration:underline;
}

/* first level */
.toc-holder > li {
    margin-top: 10px;
    border-top: 3px solid #1a237e;
    padding-top:5px;
}

/* 2nd level */
.toc-holder > li > ul {
    padding-left:15px;
}
.toc-holder > li > ul > li {
    margin-top:5px;
}

/* 3rd level */
.toc-holder > li > ul li > ul {
    padding-left:20px;
}

/* 4th level */
.toc-holder > li > ul li > ul li > ul {
    padding-left:25px;
}

.toc-chaptitle {
    font-weight: bold;
    color:#1a237e;
}

.toc-page {
    float:right;
    color:#444;
    font-size:10px;
}

.toc-element-read {
    background:rgba(0,255,0,0.15);
}

.small-figure {
    background: rgb(209, 209, 209);
    padding:10px;
    border-radius: 4px;
    max-width:95%;
    display:inline-block;
    cursor:pointer;
    position:relative;
    text-align:left;
}
.small-figure img {
    max-width:100%;
    margin:0 auto;
    display: block;
    margin-bottom:8px;
}
.small-figure span.fig-legend {
    font-weight:bold;
}
.small-figure .fig-legend-ext {
    display:none;
}

#main-panel-doc {
    color: rgb(41,41,41);
    position:absolute;
    top:64px;
    left:350px;
    right:0;
    background:white;
    display:none;
}
#main-panel-doc p {
    font-family:'Bitter',serif;
    font-size: 16px;
    line-height:24px;
    text-align:justify;
    margin:10px 0;
}
#main-panel-doc ol, #main-panel-doc ul {
    font-family:'Bitter',sans-serif;
    font-size: 16px;
    line-height:24px;
    padding-left:20px;
}
#main-panel-doc li {
    margin:4px 0;
}
#main-panel-doc ul li {
    list-style-type: initial;
}
#main-panel-doc h1, #main-panel-doc h2, #main-panel-doc h3, #main-panel-doc h4 {
    font-weight:700;
    font-family:'Inter',-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
#main-panel-doc img {
    max-width:100%;
}
#main-panel-doc em {
    font-weight:bold;
    font-style:normal;
    color:#00324b;
}
#modal-box em {
    font-weight:bold;
    font-style:normal;
    color:#00324b;
}
#main-panel-doc blockquote p {
    font-family:'Inter',-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight:400;
}
#main-panel-holder {
    max-width:1000px;
    margin:0 auto;
}
@media only screen and (max-width : 992px) {
    #main-panel-doc {
        left: 0;
        padding:10px;
        top:56px;
    }
    #main-panel-doc p {
        text-align:left; /* better without jsutification on mobile ?*/
    }
}
.section-tools {
    float:left;
    margin-left:-40px;
    position:relative;
}
.section-tools i {
    width:24px;
}
.main-panel-close {
    position: fixed;
    bottom:20px;
    right:10px;
}

.textBlock-read {
    padding: 5px;
    background-color:rgba(0,255,0,0.1);
}
.citation-sh {
    color:#4e342e;
    vertical-align:bottom;
    cursor:pointer;
}

.nav-history {
    border-top:3px solid #1a237e;
}
.nav-history {
    padding:8px;
}
.nav-history ul > li, .nav-history ul > li a {
    font-size:14px;
    line-height:24px;
    height:24px;
}
.nav-history ul li a .right {
    font-size:10px;
}

.yhsQAC:before {
    content: attr(data-hn) "\0040" attr(data-un);
    unicode-bidi: bidi-override;
    direction: rtl;
}